In [1]:
import pandas as pd

In [2]:
pip install langdetect

Requirement already satisfied: langdetect in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (1.0.9)
Requirement already satisfied: six in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from langdetect) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
f = pd.read_csv("file123.csv")

In [6]:
f.tail(10)

,reviews,reviewer,starRating,createTime,updateTime,name,comment,displayName,reviewer_name,review_id
66,NaN,{'displayName': 'Fabiano Salermo de Aquino'},FOUR,2018-03-05T01:10:23.097Z,2018-03-05T01:10:23.097Z,accounts/113838515205835963900/locations/41527...,NaN,Fabiano Salermo de Aquino,Fabiano Salermo de Aquino,ChdDSUhNMG9nS0VJQ0FnSUN3eGJhOWlBRRAB
67,NaN,{'displayName': 'Elton Rafael'},FOUR,2018-03-04T23:16:10.984Z,2018-03-04T23:16:10.984Z,accounts/113838515205835963900/locations/41527...,NaN,Elton Rafael,Elton Rafael,ChZDSUhNMG9nS0VJQ0FnSUNBMkpLSExnEAE
68,NaN,{'displayName': 'Fernando Oliveira'},FIVE,2018-03-03T21:18:03.304Z,2018-03-03T21:18:18.649Z,accounts/113838515205835963900/locations/41527...,(Translated by Google) Very good for camping o...,Fernando Oliveira,Fernando Oliveira,ChZDSUhNMG9nS0VJQ0FnSUNBNHVIUFRBEAE
69,NaN,{'displayName': 'Paulo Sousa'},FIVE,2018-03-01T09:04:48.649Z,2018-03-01T09:04:48.649Z,accounts/113838515205835963900/locations/41527...,NaN,Paulo Sousa,Paulo Sousa,ChdDSUhNMG9nS0VJQ0FnSURnaDhPX2xBRRAB
70,NaN,{'displayName': 'Andréia Coelho'},FIVE,2018-03-01T01:01:12.852Z,2018-03-01T01:01:34.540Z,accounts/113838515205835963900/locations/41527...,(Translated by Google) Family atmosphere. Grea...,Andréia Coelho,Andréia Coelho,ChZDSUhNMG9nS0VJQ0FnSUNneXBUNkZREAE
71,NaN,{'displayName': 'Matheus SB'},FIVE,2018-02-28T16:13:13.279Z,2018-02-28T16:13:30.711Z,accounts/113838515205835963900/locations/41527...,(Translated by Google) Great food.. cozy place...,Matheus SB,Matheus SB,ChZDSUhNMG9nS0VJQ0FnSUN3OE02Y0hBEAE
72,NaN,{'displayName': 'Eliezer Monteiro'},FIVE,2018-01-21T17:49:56.901Z,2018-02-27T03:02:33.005Z,accounts/113838515205835963900/locations/41527...,(Translated by Google) Just wonderful. Good pr...,Eliezer Monteiro,Eliezer Monteiro,ChZDSUhNMG9nS0VJQ0FnSUNnNFA2VUNREAE
73,NaN,{'displayName': 'Lucas Gasparini'},FIVE,2018-02-26T15:46:56.876Z,2018-02-26T15:47:54.784Z,accounts/113838515205835963900/locations/41527...,(Translated by Google) Very good\n\n(Original)...,Lucas Gasparini,Lucas Gasparini,ChdDSUhNMG9nS0VJQ0FnSURBLTk2eHVRRRAB
74,NaN,{'displayName': 'wagner diniz'},FIVE,2018-02-26T11:59:53.396Z,2018-02-26T12:00:00.704Z,accounts/113838515205835963900/locations/41527...,(Translated by Google) The best\n\n(Original)\...,wagner diniz,wagner diniz,ChdDSUhNMG9nS0VJQ0FnSUNZaU9idHhRRRAB
75,NaN,{'displayName': 'Paulo Sergio Costa Braga'},FIVE,2018-02-26T11:49:25.750Z,2018-02-26T11:50:19.695Z,accounts/113838515205835963900/locations/41527...,(Translated by Google) Very quiet and wonderfu...,Paulo Sergio Costa Braga,Paulo Sergio Costa Braga,ChZDSUhNMG9nS0VJQ0FnSURBaU9td09BEAE

In [20]:
import pandas as pd
import numpy as np

# Assuming you have a DataFrame named 'f' with a column named 'English_Text'
# Replace the sample data with your actual DataFrame

data = {'English_Text': f["comment"].tolist()}
df1 = pd.DataFrame(data)

# Function to clean the text
def clean_text(text):
    if pd.notna(text):  # Check for NaN values
        # Remove "(Translated by Google)"
        text = text.replace('(Translated by Google)', '')

        # Remove "\n\n(Original)\n"
        text = text.replace('\n\n(Original)\n', '')

        # Remove "\" 
        text = text.replace('\\', '')

        return text.strip()  # Remove leading and trailing whitespaces
    else:
        return text  # Return NaN if the input is NaN

# Apply the cleaning function to each row in the 'English_Text' column
df1['cleaned_text'] = f['comment'].apply(clean_text)

# Display the DataFrame with the cleaned text
df1.tail()

,English_Text,cleaned_text
71,(Translated by Google) Great food.. cozy place...,Great food.. cozy placeComida ótima.. lugar ac...
72,(Translated by Google) Just wonderful. Good pr...,"Just wonderful. Good price, good restaurant to..."
73,(Translated by Google) Very good\n\n(Original)...,Very goodMuito boa
74,(Translated by Google) The best\n\n(Original)\...,The bestO melhor
75,(Translated by Google) Very quiet and wonderfu...,Very quiet and wonderful family placeLocal mui...

In [22]:
df["cleaned_text"]

0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
                            ...
71    Great food.. cozy placeComida ótima.. lugar ac...
72    Just wonderful. Good price, good restaurant to...
73                                   Very goodMuito boa
74                                     The bestO melhor
75    Very quiet and wonderful family placeLocal mui...
Name: cleaned_text, Length: 76, dtype: object

In [23]:
import pandas as pd
from langdetect import detect

# Assuming you have a DataFrame df with a column named 'cleaned_text'
df = pd.DataFrame({'cleaned_text': df["cleaned_text"]})
    
# Function to detect language
def detect_language(text):
    try:
        lang = detect(text)
        return lang
    except:
        return 'unknown'

# Apply language detection to each row in the 'cleaned_text' column
df['Language'] = df['cleaned_text'].apply(detect_language)

# Separate into different columns based on language
df['English_Text'] = df[df['Language'] == 'en']['cleaned_text']
df['Portuguese_Text'] = df[df['Language'] == 'pt']['cleaned_text']

# Drop the 'Language' column if you no longer need it
df = df.drop(columns=['Language'])

# Display the results
print("DataFrame with English and Portuguese Texts:")
print(df)

DataFrame with English and Portuguese Texts:
                                         cleaned_text        English_Text  \
0                                                 NaN                 NaN
1                                                 NaN                 NaN
2                                                 NaN                 NaN
3                                                 NaN                 NaN
4                                                 NaN                 NaN
..                                                ...                 ...
71  Great food.. cozy placeComida ótima.. lugar ac...                 NaN
72  Just wonderful. Good price, good restaurant to...                 NaN
73                                 Very goodMuito boa  Very goodMuito boa
74                                   The bestO melhor    The bestO melhor
75  Very quiet and wonderful family placeLocal mui...                 NaN

                                      Portuguese_Text
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
..                                                ...
71                                                NaN
72  Just wonderful. Good price, good restaurant to...
73                                                NaN
74                                                NaN
75                                                NaN

[76 rows x 3 columns]

In [25]:
df.tail()

,cleaned_text,English_Text,Portuguese_Text
71,Great food.. cozy placeComida ótima.. lugar ac...,NaN,NaN
72,"Just wonderful. Good price, good restaurant to...",NaN,"Just wonderful. Good price, good restaurant to..."
73,Very goodMuito boa,Very goodMuito boa,NaN
74,The bestO melhor,The bestO melhor,NaN
75,Very quiet and wonderful family placeLocal mui...,NaN,NaN